<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
	<!-- dBlog 2.0 CMS Open Source -->
	[#METATAG#]
	<link rel="stylesheet" type="text/css" media="all" href="/dblog/template/standard/foglio.css" />
</head>

<body>

	<table id="mainTable">
		<tr>
			<td class="mainTable">

				<table id="dBlog">
					<tr>
						<td class="dBlog">

							<table id="mainHeader">
								<tr>
									<td id="mainHeaderLeft">[#INTESTAZIONEFOTO#]</td>
									<td id="mainHeaderDivider">&nbsp;</td>
									<td id="mainHeaderRight">
										<div id="virgoLeft">"</div>
										<div id="virgoIn">[#INTESTAZIONEFRASE#]</div>
										<div id="virgoRight">"</div>
									</td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td class="dBlogLine">&nbsp;</td>
					</tr>
					<tr>
						<td class="dBlog">

							<table id="mainContent">
								<tr>
									<td id="mainContentLeft">[#CONTENUTO#]</td>
									<td id="mainContentDivider"></td>
									<td id="mainContentRight">
										[#UTENTIONLINE#]<br />
										[#CALENDARIO#]<br />
										[#RICERCA#]<br />
										[#ARTICOLI#]<br />
										[#FOTOGRAFIE#]<br />
										[#SONDAGGI#]<br />
										[#STUFF#]<br />
										[#INFORMAZIONI#]<br />
										[#LINK#]<br />
										[#FEED#]<br />
										[#TEMPOESECUZIONE#]<br /><br />
										<div class="centrato">
											<a href="http://validator.w3.org/check?uri=referer" target="_blank">Valid XHTML 1.0 / CSS</a>
										</div>
									</td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td id="footer">
							<div id="footerLeft">[#FOOTER#]</div>
							<div id="footerRight">[#POWEREDBY#]</div>
						</td>
					</tr>
				</table>

			</td>
		</tr>
	</table>

</body>
</html>