<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
	<!-- dBlog 2.0 CMS Open Source -->
	[#METATAG#]
	<link rel="stylesheet" type="text/css" media="all" href="/dblog/template/standard/foglio.css" />
</head>

<body>

	<table id="mainTable">
		<tr>
			<td class="mainTable">

				<table id="dBlog">
					<tr>
						<td class="dBlog">
              
							<table id="mainContent">
								<tr>
									<td id="mainContentPrint">[#CONTENUTO#]</td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td id="footer">
							<div id="footerLeft">[#FOOTER#]</div>
							<div id="footerRight">[#POWEREDBY#]</div>
						</td>
					</tr>
				</table>

			</td>
		</tr>
	</table>

</body>
</html>