p, td, .ftr
	{
	margin-top : 5px;
	font-family: arial, tahoma;
	font-size : 10pt;
	}

.avg
	{
	margin-top : 2px;
	font-family: arial, tahoma;
	font-size : 10pt;
	}

.avglist
	{
	margin-top : 2px;
	font-family: arial, tahoma;
	font-size : 10pt;
	list-style : 
	}

.etc
	{
	font-family: arial, tahoma;
    font-size : 8pt;
	color : #444444;
	}

.etcbk
	{
	font-family: arial, tahoma;
    font-size : 8pt;
	color : #C80000;
	}

h1
	{
	font-color : #090981;
	font-weight:bold;
	font-family: arial, tahoma;
    font-size : 16pt;
	}

h2
	{
	font-color : #090981;
	font-weight:bold;
	font-family: arial, tahoma;
    font-size : 13pt;
	}

h3
	{
	font-weight: bold;
	font-family: arial, tahoma;
    font-size : 11pt;
	}

h4
	{
	font-weight: normal;
	font-family: arial, tahoma;
    font-size : 11pt;
	}


.toc
	{
	font-weight:bold;
	font-family: arial, tahoma;
    font-size : 10pt;
	background-color : #FF6666;
	color : #663333;
	}

.tocmain
	{
	font-weight:bold;
	font-family: arial, tahoma;
    font-size : 10pt;
	background-color : #FEFEFE;
    color : #4A0000;
	}

.subtocmain
	{
	margin-top : 20px;
	margin-bottom : 5px;
	font-weight: bold;
	font-family: arial, tahoma;
    font-size : 12pt;
	text-align : center;
	background-color : #FAFAFF;
    color : #8A0000;
	}

.resolution
	{
	margin-top : 15px;
	margin-bottom : 0px;
	font-weight: 600;
    font-style : italic;
	font-family: arial, tahoma;
    font-size : 10pt;
    color : #6A0000;
	}

.tocselected
	{
	font-family: arial, tahoma;
    font-size : 10pt;
	text-decoration : none; 
	background-color : #5A865A;
    color : #EEEEEE;
	}

.tocselectedline
	{
    font-style : italic;
	font-family: arial, tahoma;
    font-size : 10pt;
	text-decoration : none; 
	background-color : #5A865A;
    color : #FFFFEA;
	}

.edging  
	{
	border: #880000 0px solid;
	background: #EEFFEE;
	background-image: url(newsbg.jpg);
	}

a
	{
	ext-decoration : none; 
    color : #663366;
	}

a.ftr
	{
	ext-decoration : none; 
    color : #223366;
	}

a:hover  
    {
	text-decoration : none; 
	background-color : #FF0033;
    color : #FFFFFF;
    }


