body {
}

img
{
border: 0px;
}


#container 
{
position: absolute;
width: 70%;
left: 15%;   
    }


#tblg
{
position: absolute;    
top: 20px;
left: 364px; 
border-style: solid;
border-width: thin;
border-color: Green;
background-color:#FFFFE9 
    }
#menulat
{
position: absolute;
top: 100px;    
left: 30px;
border-style: solid;
border-width: thin;
border-color: Green;
background-color:#FFFFE9;
width: 200px; 
    }   
#cntacp
{
position: absolute;    
top: 100px;
left: 250px; 
border-style: solid;
border-width: thin;
border-color: Green;
background-color:#FFFFE9;
font-size: small;   
    }     
#tbins
{
position: absolute;    
top: 100px;
left: 250px;  
border-style: solid;
border-width: thin;
border-color: Green;
background-color:#FFFFE9   
    } 
a
{
color: Blue;    
font-size: small;
    }       
a:hover
{
color: #FF7000;
font-size: small;   
    }  
.tit
 {
background-image: url('../images/hmenutitn.jpg');
color: White;
text-decoration: none; 
font-weight: bolder;
font-size: larger;   
     }     
.btn
{
background-color: #181818;
color: White;
font-size: small;
font-weight: bolder;    
    } 
      
#txtnews
{
border-style: solid;
border-color: Green;
border-width: 2px;   
    }     

#tbad
{
position: absolute;
left: 280px;
top: 100px;    
border-style: solid;
border-color: Green;
border-width: 2px; 
    }
    
#tbad1
{
position: absolute;
left: 280px;
top: 220px;    
border-style: solid;
border-color: Green;
border-width: 2px; 
    }          